.contents{
    text-align: center;
    display: flex;
    flex-direction: row;
}

.leftside{
    flex: 1;
}

.rightside{
    flex: 1;
}

.save{
    flex: 1;
    margin: 10%;
    padding: 5%;
}

a{
    text-decoration: none;
}

