@import url('https://fonts.googleapis.com/css?family=Sacramento');

.mainbody{
    background:url()
    background-color: hidden;
    font-family: 'Sacramento', cursive;
    text-align: center;
}
.welcome{
    color: rgb(2, 129, 255);
    text-align: center;
    font-size: 400%;
}

.introduction{
    color: rgb(2, 129, 255);
    text-align: center;
    font-size: 200%;
}

p{
    color: rgb(2, 129, 255);
    text-align: center;
    font-size: 200%;
}

.next{
    text-align: center;
    text-decoration-line: none;
    font-size: 500%;
}