@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');


body {
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    padding: auto;
}

textarea {
    width: 400px;
    height: 300px;
}

a {
    text-decoration: none;
    color: #fff;
}

.contents {
    display: flex;
    flex-direction: row;
    background-color: rgb(37, 21, 133);
    background-image: url("storybackground4.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.leftside {
    flex: 1;
    background-image: url("storybackground2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.rightside {
    flex: 1;
    background-image: url("storybackground3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.sharestory {
    flex: 1;
    color: white;
    text-align: center;
    margin-left: 60px;
    width: 520px;
    margin: auto;
    padding: auto;
}

.sharestory h1 {
    text-align: center;
}

.introduction {
    text-align: center;
    padding: 0px 50px 50px 50px;
    margin: 50px 50px 50px 50px;
}

.mail {
    font-size: 20px;
}

.mail input {
    width: 200px;
    height: 30px;
    border: 5px rgb(59, 100, 237);
    border-radius: 5%;
}

.title {
    font-size: 20px;
}

.title input {
    width: 300px;
    height: 30px;
    border: 5px rgb(59, 100, 237);
    border-radius: 5%;
}

.category {
    font-size: 20px;
}

.writestory {
    font-size: 20px;
}

.writestory textarea {
    width: 350px;
    height: 400px;
    border: 5px rgb(59, 100, 237);
    border-radius: 5%;
    resize: none;
}

.writestory input {
    border: 5px double rgb(59, 100, 237);
}

.custom-btn {
    width: 110px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

/* 15 */
.btn-15 {
    background: #1038d8;
    border: none;
    z-index: 1;
}

.btn-15:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #3d48af;
    border-radius: 5px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
    transition: all 0.3s ease;
}

.btn-15:hover {
    color: #fff;
}

.btn-15:hover:after {
    left: 0;
    width: 100%;
}

.btn-15:active {
    top: 2px;
}