@charset "UTF-8";
body {
    background-image: url(img/first_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    }
h1 {
    color:rgb(232, 223, 243);
    font-weight: 900;
    font-size:60px;
    text-align:center;
}

.contents{
    text-align: center;
    margin-top: 2%;
    margin: 5%;
    padding: 10%;
    display: flex;
    flex-direction: row;
}
.img1 {
    flex: 1;
    animation: mymove 3s infinite;
    -webkit-animation: mymove 3s infinite;
}
@keyframes mymove {
    50% {
        transform: translateY(30px);
    }
}
@-webkit-keyframes mymove/* Safari and Chrome */
{
    50% {
        transform: translateY(30px);
    }
}

.img1 img{
    border-radius: 15px;
    transition: all 1s;/*图片放大过程的秒数*/
 }
 .img1:hover img{
    transform:scale(1.2); /*鼠标移上时图片放大1.2倍*/
 }

.img2 {
    flex:2;
    animation: mymove 3s infinite;
    -webkit-animation: mymove 3s infinite;
}
@keyframes mymove {
    50% {
        transform: translateY(30px);
    }
}
@-webkit-keyframes mymove/* Safari and Chrome */
{
    50% {
        transform: translateY(30px);
    }
}

.img2 img{
    border-radius: 15px;
    transition: all 1s;/*图片放大过程的秒数*/
 }
 .img2:hover img{
    transform:scale(1.2); /*鼠标移上时图片放大1.2倍*/
 }

.img3 {
    flex:3;
    animation: mymove 3s infinite;
    -webkit-animation: mymove 3s infinite;
}
@keyframes mymove {
    50% {
        transform: translateY(30px);
    }
}
@-webkit-keyframes mymove/* Safari and Chrome */
{
    50% {
        transform: translateY(30px);
    }
}
.img3 img{
    border-radius: 15px;
    transition: all 1s;/*图片放大过程的秒数*/
 }
 .img3:hover img{
    transform:scale(1.2); /*鼠标移上时图片放大1.2倍*/
 }