@charset "UTF-8";
body {
    background-image: url("img/sad_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    
    }

h1 {
    color:rgb(232, 223, 243);
    
    font-weight: 900;
    font-size:40px;
    text-align:center;
}
.img1 {
    position:absolute;
    left:550px;
    top:400px;
}

#content {
    height: 90em;
  } p {
    max-width: 30em;
    color: white;
    font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
    letter-spacing:0.1em;
    text-align:center;
    margin: 90px auto;
    text-transform: lowercase;
    line-height: 190%;
    font-size: 2em;
    font-variant: small-caps;
  }
  p :hover {
    text-decoration: none;
  }
  
  .container {
    padding-top: 6em;
    text-align: center;
  }

  #gen {
    outline: none;
    padding-top: 5px;
    text-decoration: none;
    opacity: 0.6;
    background-color: black;
    color: white;
    border: thin solid white;
    height: 40px;
    width: 100px;
    border-radius: 2px;
    transition: 0.5s;
    padding-bottom: 5px;
  }
  
  #gen:hover {
    background-color: white;
    color: black;
    border: thin solid black;
    opacity: 0.8;
  }
  
  #gen a {
    text-decoration: none;
  }
