@charset "UTF-8";
body {
    background-image: url(调暗.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    }
h1 {
    color:rgb(232, 223, 243);
    
    font-weight: 900;
    font-size:60px;
    text-align:center;
}

.img1 {
    position:absolute;
    left:520px;
    top:200px;
    animation: mymove 3s infinite;
    -webkit-animation: mymove 3s infinite;
}
@keyframes mymove {
    50% {
        transform: translateY(30px);
    }
}
@-webkit-keyframes mymove/* Safari and Chrome */
{
    50% {
        transform: translateY(30px);
    }
}

.img1 img{
    border-radius: 15px;
    transition: all 1s;/*图片放大过程的秒数*/
 }
 .img1:hover img{
    transform:scale(1.2); /*鼠标移上时图片放大1.2倍*/
 }

.img2 {
    position:absolute;
    left:880px;
    top:200px;
    animation: mymove 3s infinite;
    -webkit-animation: mymove 3s infinite;
}
@keyframes mymove {
    50% {
        transform: translateY(30px);
    }
}
@-webkit-keyframes mymove/* Safari and Chrome */
{
    50% {
        transform: translateY(30px);
    }
}

.img2 img{
    border-radius: 15px;
    transition: all 1s;/*图片放大过程的秒数*/
 }
 .img2:hover img{
    transform:scale(1.2); /*鼠标移上时图片放大1.2倍*/
 }

.img3 {
    position:absolute;
    left:220px;
    top:200px;
    animation: mymove 3s infinite;
    -webkit-animation: mymove 3s infinite;
}
@keyframes mymove {
    50% {
        transform: translateY(30px);
    }
}
@-webkit-keyframes mymove/* Safari and Chrome */
{
    50% {
        transform: translateY(30px);
    }
}
.img3 img{
    border-radius: 15px;
    transition: all 1s;/*图片放大过程的秒数*/
 }
 .img3:hover img{
    transform:scale(1.2); /*鼠标移上时图片放大1.2倍*/
 }